### use # to comment out lines
### excluding paths, do not mix digit and letters in the parameter values (rigth side of identity)
#### train config
model = unet
feat_dim = 128
audio_len = 16384
batch_size = 32
net_dim = [250, 250, 250]
dropout_rate = 0.0
max_n_epochs = 50
n_earlystop_epochs = 5

#### optimizer config
optimizer_type = adam
starter_learning_rate = 0.001
lr_decay = 1.0
l2 = 0.0

### input/output dirs
root_folder = /user/es.aau.dk/xu68nv/data/LibriSpeech/tfrecords/full_dataset
exp_folder = /user/es.aau.dk/xu68nv/data/LibriSpeech/logs/full_dataset/unet_maxpool_exp0

### other
device = /gpu:0

### dataset additional config values
feat_mean = /user/es.aau.dk/xu68nv/data/LibriSpeech/syn_data/full_dataset/training-set/spec_norm_mean.npy
feat_std = /user/es.aau.dk/xu68nv/data/LibriSpeech/syn_data/full_dataset/training-set/spec_norm_std.npy

# Uncomment the following line if you want to start training from a pre-trained model
#model_ckp = /user/es.aau.dk/xu68nv/data/LibriSpeech/logs/full_dataset/basic_blstm_exp1/netmodel/sinet
